kivy
kivymd
requests
aiohttp
python-dotenv
Pillow
pygame

# Raspberry Pi GPIO libraries
rpi-lgpio
RPi.GPIO

# Audio support
pyalsaaudio
python-mpd2

# I2C and sensor libraries for Raspberry Pi
smbus2
adafruit-circuitpython-busdevice
adafruit-circuitpython-ens160
adafruit-circuitpython-ahtx0
adafruit-blinka
adafruit-circuitpython-wm8960

# System monitoring
psutil